
{% block content %}

  {% if t=='s' %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h3 style="color:rgb(7, 61, 104)">Sorry! This movie is not found in our database.</h3>
    <h3 style="color:rgb(7, 61, 104)">Please , Check spelling once.</h3>
    <h3 style="color:rgb(7, 61, 104)">Or try with another movie.</h3>
  </div>

  {% else %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h1 style="color:rgb(144, 12, 63)">"{{movie}}" is a great movie.</h1>
    <h3 style="color:rgb(144, 12, 63)">Here are some related movies</h3>
  </div>

    <ul class="list-group list-group-flush">
      {% for m in r %}
        <li class="list-group-item" style="color:rgb(144, 12, 63)"><strong>{{m|capitalize}}</strong></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
